h1{
    text-shadow: 2px 2px 5px red;
}

img.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    border: 3px solid black ;
}

img.right {
    display: block;
    margin-left: auto;
    margin-right: right;
    width: 8%;
    border: 2px solid black
}

.center-text{
    text-align: center;
}

.container{
    max-width: 1350px;  
    margin: auto;       
    padding: 20px;      /*adds space inside container */
}
.border-text{
    border: solid navy;
    background-color: rgb(161, 200, 201);
}

ul.square-list {
    list-style-position: inside;
    list-style-type: square;
    padding: 0;
}