h1{
    text-shadow: 2px 2px 5px red;
}

.purple {
    color: purple; /* added to call for JS */
}
img.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    border: 3px solid black ;
}

img.right {
    display: block;
    margin-left: auto;
    margin-right: right;
    width: 8%;
    border: 2px solid black
}

.center-text{
    text-align: center;
}

.cursor{
     /* adding this gave a cursor for the name but I think it can be streamlined */
}
.container{
    max-width: 1300px;  
    margin: auto;       
    padding: 025px;      /*adds space between containers */
    overflow: auto;
}

.border-text{
    border: solid navy;
    background-color:rgb(170, 167, 167);
    border-radius: 100px;
}

.border-intro{
    border: solid red;
    background-color:rgb(170, 167, 167);
    border-radius: 65px;
}

.border-learn{
    border: solid purple;
    background-color:rgb(170, 167, 167);
    border-radius: 100px;
}

.border-hobby{
    border: solid goldenrod;
    background-color:rgb(170, 167, 167);
    border-radius: 100px;
}
.border-fact{
    border: solid forestgreen;
    background-color:rgb(170, 167, 167);
    border-radius: 100px;
}

ul.square-list {
    list-style-position: inside;
    list-style-type: square;
    padding: 0;
}