h1{
    text-shadow: 2px 2px 5px red;
}
img.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}
img.right {
    display: block;
    margin-left: auto;
    margin-right: right;
    width: 8%;
}
.center-text{
    text-align: center;
}

p{
    font-family:'Times New Roman', Times, serif;
    text-align:left;
}

.border-text{
    border: solid navy;
}
ul.square-list {
    list-style-type: square;
}